<!DOCTYPE html>
<html>
  <head>
    <title>Planned</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Seaweed+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <nav> 
    <div id="nav-alerts">
       <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"> <%= value %> </div>
      <% end %>
      <% if current_page?(controller: :reflections, action: :edit) %>
        <div class='arrow_panel'>
            <%= link_to '⬅', entries_path %> 
        </div>
      <% end %>
    </div>

    <div id="nav-title">
      Planned.
    </div>

    <div class='log_in_panel'>
      <% if current_user %>
           Welcome, <%= current_user.name %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Log Out', logout_path, id: "sign-up-button" %>

      <% else %>
        <%= form_tag sessions_path do %>
          <div class="field">
            <%= label_tag :email %>
            <%= text_field_tag :email, params[:email] %>
          </div>

          <div class="field">
            <%= label_tag :password %> <%= password_field_tag :password %>
          </div>

          <div class="actions"><%= submit_tag "Log In", class: 'log-in-button' %></div>
        <% end %>
        <%= link_to 'Sign Up', new_user_path, id: "sign-up-button" %>
      <% end %>


    </div>

  </nav>

    <%= yield %>
  </body>
</html>
